body {
  margin: 0px;
  height: 100%;
  background: rgb(225, 225, 225);
}

.hero {
  background-color: white;
  margin: 5% auto;
  width: 80%;
  height: 80%;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}
.hero-content {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.content-one {
  /* border: 1px solid black; */
  padding: 6px;
  text-align: justify;
  width: 60%;
}
.cc {
  margin: 70px auto;
}

.contact {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 6px 20px;
  margin-right: 20px;
  border-radius: 25px;
}
.cv {
  text-decoration: none;
  color: black;
}
.sosmed {
  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.content-two {
  display: flex;
  justify-content: end;
}
.card {
  border-radius: 10px;
  width: 60%;
  box-shadow: 3px 6px 15px black;
}

.card > h1 {
  text-align: center;
}
.card > p {
  text-align: center;
}
img {
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .content-one {
    width: 100%;
  }
  .content-two {
    width: 100%;
  }
  .hero-content {
    display: grid;
    gap: 10px;
  }
  .content-two {
    display: fixed;
    justify-content: center;
  }
}
